html {
font-family: 'Roboto', sans-serif;
font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
  color: MidnightBlue;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: Crimson;
}

a:hover {
  text-decoration: underline;
  color: MidnightBlue;
}

.flex {
  display: flex;
}

/* Header */
header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
}

.logo {
  align-items: center;
}

.logo img {
  height: 2rem;
}

.logo span:first-child {
  color: DarkSlateBlue;
}

.logo span:last-child {
  color: Crimson;
}

nav a,
footer a {
  margin-left: 1rem;
}

.logo a {
  display: none;
}

@media only screen and (max-width: 720px) {
  header a,
  .logo h1 {
    display: none;
  }
  .logo {
    width: 560px;
    justify-content: space-between;
  }
  .logo a {
    display: flex;
  }
}

/* Banner */
.banner {
  padding: 2rem 1.5rem;
  background-color: hsl(40, 45%, 80%);
  align-items: center;
}

.banner-image {
  width: 60%;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

.banner-cta {
  padding-left: 1.5rem;
  width: 30%;
}

.banner-cta h2 {
  font-size: 3rem;
}

.banner-cta p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 2rem 0;
  color: MidnightBlue;
}

.banner-cta a {
  display: block;
  text-align: center;
  background-color: FireBrick;
  padding: 1rem 1.25rem;
  color: white;
}

.banner-cta a:hover {
  background-color: MidnightBlue;
  transition: 600ms;
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .banner-cta {
    width: auto;
    padding: 2rem 1rem;
  }
  .banner-cta h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .banner-image {
    width: 100%;
  }
}

/* Information main - Quote*/
.quote {
  width: 60%;
  padding-right: 1.5rem;
}

.quote-image img,
.quote-image video {
  max-width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.quote h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.quote-source {
  padding-top: 2rem;
  font-size: 0.75rem;
}

/* Information main - Info links*/
.info {
  padding: 2rem 1.5rem;
}

.info-links {
  width: 40%;
  flex-direction: column;
}

.info-link {
  border-bottom: 1px solid hsl(40, 45%, 80%);
  align-items: center;
}

.info-image {
  width: 35%;
  padding: 1rem;
}

.info-image img {
  max-width: 100%;
  height: auto;
}

.info-image img:last-child {
  display: none;
}

.first-image {
  padding-top: 0px;
}

.info-text {
  width: 65%;
}

.info-text h3,
p {
  padding-bottom: 0.5rem;
}

.info-highlight {
  background-color: hsl(40, 45%, 80%);
}

.info-highlight a {
  color: Maroon;
}

.info-highlight a:hover {
  color: MidnightBlue;
}

@media only screen and (max-width: 720px) {
  .info {
    padding: 1rem 1rem;
  }
  .info-links {
    width: 100%;
  }
  .quote {
    display: none;
  }
  .info-link {
    flex-direction: column;
    border-bottom: none;
    align-items: flex-start;
  }
  .info-text {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
  }
  .info-highlight {
    background-color: white;
  }
  .info-highlight a {
    color: Crimson;
  }
  .info-highlight .info-text {
    padding-bottom: 1rem;
  }
  .info-image {
    width: 100%;
    padding: 0px;
  }
  .info-image img:first-child {
    display: none;
  }
  .info-image img:last-child {
    display: flex;
  }
}

/* Learning section */
.learning {
  background-color: hsl(40, 45%, 80%);
  padding: 0px 4.5rem;
}

.information-section h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
}

.learning-cards {
  flex-wrap: wrap;
  padding-top: 2rem;
}

.card {
  background-color: white;
  width: 30%;
  margin-bottom: 2rem;
}

.card:nth-child(3n+2) {
  margin: 0px 2rem;
  margin-bottom: 2rem;
}

.card h3 {
  padding: 1rem;
  padding-bottom: 0px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-text p {
  padding-bottom: 0.5rem;
}

.card-text li {
  padding-bottom: 0.5rem;
}

.card-text {
  padding: 1rem;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .learning-cards {
    justify-content: center;
  }
  .card:nth-child(3n+2) {
    margin: 0px 0px;
    margin-bottom: 2rem;
  }
  .card:nth-child(2n) {
    margin: 0px 2rem;
    margin-bottom: 2rem;
  }
  .card:nth-child(4n) {
    margin: 0px 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 720px) {
  .card:nth-child(2n) {
    margin: 0px;
  }
  .card:nth-child(4n) {
    margin-bottom: 0.5rem;
  }
  .learning {
    padding: 0px 1rem;
  }
  .information-section h2 {
    font-size: 2rem;
  }
  .learning-cards {
    flex-direction: column;
    padding: 1rem 0px;
  }
  .card {
    width: 100%;
    margin-bottom: 0.5rem;
  }  .card img {
    display: none;
  }
  .card-text {
    display: none;
  }
  .card:nth-child(3n+2) {
    margin: 0px;
    margin-bottom: 0.5rem;
  }
  .card h3 {
    padding-bottom: 1.5rem;
  }
}

/* Thesis exhibit */
.thesis .quote h3 {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 0.5rem;
}

.thesis .info-image img {
  display: flex;
}

@media only screen and (max-width: 720px) {
  .thesis .quote {
    display: block;
  }
  .thesis .quote h3,
  q {
    display: none;
  }
  .thesis .info-links {
    display: none;
  }
  .quote {
    width: auto;
    padding-right: 0px;
  }
  .info {
    padding: 1rem 0px;
    padding-bottom: 0px;
  }
  .quote-image img,
  .quote-image video {
    max-width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
  }
}

/* Footer */
footer {
  justify-content: space-between;
  padding: 1rem 1.5rem;
  padding-bottom: 3rem;
  border-top: 1px solid hsl(40, 45%, 80%);
}

@media only screen and (max-width: 720px) {
  footer a {
    display: none;
  }
}
